.main_content ul li
{
    list-style:none;
    display:inline-block;
    width:45%;
 }
.main_content ul
{
    padding-top:10px;
}
.label
{
    text-align:right;
}
.btn_div
{
    margin-top:50px;
    text-align:center;
}
input
{
    width:200px;
    margin-top:-3px;
}
#btn_Change
{
    background:url(Images/btn_apply.jpg) no-repeat 0 0 transparent;
    margin-left:10px;
    border:none;
    width:118px;
    height:30px;
    cursor:pointer;
}
#btn_Change:hover
{
    background:url(Images/btn_apply_over.jpg) no-repeat 0 0 transparent;
    border:none;
    cursor:pointer;
}
.error_msg
{
    text-align:center;
}