#login_bg
{
	background:url("Images/Login/login_bg.jpg") no-repeat scroll center top transparent;
}
.login_box{
	background:url("Images/Login/loginbox_bg.png") no-repeat scroll center top transparent;
	margin:180px auto 0px auto;
	padding:20px 50px 50px 50px;
	width:408px;
}

ul
{
    list-style: none;
}
li
{
    display:inline-block;
}
.left_col
{
    width:100px;
    text-align:right;
}
.check_remember
{
    text-align:center;
}
.input
{
    background:url("Images/Login/inp_login.gif") no-repeat scroll 0 0 transparent;
    border:medium none;
    color:#FFFFFF;
    font-size:16px;
    height:28px;
    padding:6px 6px 0 10px;
    width:204px;
}
.btn_submit
{
    background:url("Images/Login/submit_login.gif") no-repeat scroll 0 0 transparent;
    border:medium none;
    cursor:pointer;
    height:29px;
    text-indent:-3000px;
    width:73px;
}
.btn_submit:hover
{
    background:url("Images/Login/submit_login.gif") no-repeat scroll 0 -29px transparent;
}
.error_msg
{
    text-align:center;
    color:#F00;
}