*
{
    margin:0px;
    padding:0px;
}
input :text
{
    border:1px solid #ccc;
}
.error_msg
{
    color:#F00;
}
body
{
    font-size:0.8em;
    background:url("Images/Site/background.png") repeat-x scroll 50% 0 #000000;
}
.main_title
{
    float:right;
    margin-top:30px;
    padding-right:10px;
    font-size:12pt;
}
.date_str
{
    margin-left:10px;
}
.main_style
{
    min-width:1000px;
    width:95%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    overflow:hidden;
}
.main_head
{
    min-width:1000px;
    margin-left:auto;
    margin-right:auto;
    margin-top:70px;
}
.head-left
{
    width:5px;
    height:41px;
    background:url(/Content/Images/Site/menu-left.png) no-repeat 0px 0px transparent;
    
}
.site-logo
{
    width:267px;
    height:55px;
    background:url(/Content/Images/Site/logo.png) no-repeat 0px 0px transparent;
    position:absolute;
    left:100px;
    top:20px;
    cursor:pointer;
}
#Menu
{
    border:none;
}
#Menu .t-item
{
    padding:7px 30px 6px 17px;
    border-right:1px solid #000;
}
#Menu .t-state-hover
{
    background:none;
    color:#f4b914;
}
#Menu .t-animation-container
{
    font-size:12px;    
}
#Menu .t-group 
{
    border:none;
}

#Menu .t-group a 
{
    color:#fff;
}
#Menu .t-group a:hover
{
    color:#f4b914;
}

#Menu .t-group li
{
    background:#000;   
    width:inherit;
}
#Menu .t-group li:hover
{
    background:#444;
}

#Menu .t-group .t-state-default
{
    background:#000;
    color:#fff;
}
.head-right
{
    width:5px;
    height:41px;
    background:url(/Content/Images/Site/menu-right.png) no-repeat 0px 0px transparent;
    
}
.left_nav
{
    float:left;
    text-align:left;
    width:16%;
    margin-left:5px;
}
.nav_main
{
    margin-top:50px;
    list-style:none;
    padding:10px;
}
.nav_title
{
    text-align:justify;
    font-size:13pt;
    font-weight:bold;
    color:White;
}
.nav_sub
{
    text-align:right;
    padding:0px;
    margin-top:50px;
    list-style:none;
    font-size:12pt;
    font-weight:normal;
}
.nav_menu
{
    margin-top:10px;
}
.nav_link
{
    text-decoration:none;
    color:White;
}
.link_selected
{
    color:Yellow;
}
.nav_link:hover
{
    color:#5588aa;
}
.main_content
{
    margin-top:30px;
    float:right;
    text-align:left;
    width:82%;
    margin-right:5px;
    min-height:650px;
    background:#fff;
    position:relative;
}
.my-rc-topleft
{
    background:url(/Content/Images/Site/corner-left-top.png) no-repeat 0px 0px transparent;
    width:4px;
    height:4px;
}
.my-rc-topright
{
    background:url(/Content/Images/Site/corner-right-top.png) no-repeat 0px 0px transparent;
    width:4px;
    height:4px;
}
.corner
{
    position:absolute;
    background:url(/Content/Images/Site/sprite.png) no-repeat 0px 0px transparent;
    overflow:hidden;
}
.rc-topleft
{
    z-index:2;
    background-position:-8px -94px;
    left:-2px;
    top:0px;
    width:4px;
    height:4px;
}
.rc-topright
{
    z-index:2;
    background-position:-14px -94px;
    right:0px;
    top:0px;
    width:4px;
    height:4px;
}
.rc-bottomleft
{
    z-index:2;
    background-position:0px -94px;
    left:0px;
    bottom:0px;
    width:4px;
    height:4px;
}
.rc-bottomright
{
    z-index:2;
    background-position:-4px -94px;
    right:0px;
    bottom:0px;
    width:4px;
    height:4px;
}
.content-sub-header
{
    padding:0px 0px 5px 20px;
    border-bottom:1px solid #797979;
    margin:10px 20px 5px 20px;
    font-family:Arial;
    font-size:14px;
}
.content-tool-bar
{
    padding:0px 0px 5px 20px;
    border-bottom:1px solid #797979;
    margin:5px 20px;
    font-family:Arial;
    font-size:12px;
}

#tbl_cnt
{
    margin:5px 20px 5px 20px;
}

.t-grid-pager
{
    font-size:12px;
}
#btn_update
{
    background:url(Images/taxilocations/btn_update.jpg) no-repeat 0 0 transparent;
    margin-left:20px;
    border:none;
    width:80px;
    height:26px;
    cursor:pointer;}
#btn_return
{
    background:url(Images/taxilocations/btn_return.jpg) no-repeat 0 0 transparent;
    margin-left:20px;
    border:none;
    width:80px;
    height:26px;
    cursor:pointer;
}
#btn_Search
{
    background:url(Images/taxilocations/btn_search.jpg) no-repeat 0 0 transparent;
    border:none;
    margin-left:10px;
    width:65px;
    height:26px;
    cursor:pointer;
}
#btn_Search:hover
{
    background:url(Images/taxilocations/btn_search_over.jpg) no-repeat 0 0 transparent;
    border:none;
    cursor:pointer;
}
#btn_Add
{
    background:url(Images/taxilocations/btn_add.jpg) no-repeat 0 0 transparent;
    border:none;
    margin-left:10px;
    width:65px;
    height:26px;
    cursor:pointer;
}
#btn_Add:hover
{
    background:url(Images/taxilocations/btn_Add_over.jpg) no-repeat 0 0 transparent;
    border:none;
    cursor:pointer;
}
#btn_Delete
{
    background:url(Images/taxilocations/btn_delete.jpg) no-repeat 0 0 transparent;
    margin-left:10px;
    border:none;
    width:65px;
    height:26px;
    cursor:pointer;
}
#btn_Delete:hover
{
    background:url(Images/taxilocations/btn_delete_over.jpg) no-repeat 0 0 transparent;
    border:none;
    cursor:pointer;
}
#btn_Google
{
    background:url(Images/taxilocations/btn_google.jpg) no-repeat 0 0 transparent;
    margin-left:10px;
    border:none;
    width:65px;
    height:26px;
    cursor:pointer;
}
#btn_Google:hover
{
    background:url(Images/taxilocations/btn_google_over.jpg) no-repeat 0 0 transparent;
    border:none;
    cursor:pointer;
}
.detail_content
{
    margin-left:auto;
    margin-right:auto;
    width:400px;
    font-weight:bold;
    margin-top:20px;
    margin-bottom:10px;
    text-align:center;
}
.label_detail
{
    text-align:right;
    margin-top:10px;
}
.input_detail
{
    width:250px;
}